$white: 	#FFFFFF;
$black:		#000000;
$blue:		#245580;
$white-F2: 	#f2f2f2;
$white-F9: 	#F9F9F9;
$white-EE: 	#EEEEEE;
$white-E5: 	#E5E5E5;
$white-E2: 	#E2E2E2;
$gray-DD: 	#DDDDDD;
$gray-CC: 	#CCCCCC;
$gray-BB: 	#BBBBBB;
$gray-B8: 	#B8B8B8;
$gray-AA: 	#AAAAAA;
$gray-9C: 	#9C9C9C;
$gray-99: 	#999999;
$gray-77: 	#777777;
$gray-66: 	#666666;
$black-33: 	#333333;
$black-22:	#222222;
